/* Place project-specific CSS here */

@font-face {
	font-family: myFirstFont;
	src: url(sansation_light.woff);
}

@import url(http://fonts.googleapis.com/css?family=GFS+Didot&subset=greek);

body{
font-size:1em;
/*font-family:  "Palatino Linotype";*/
font-family: 'GFS Didot', serif;
line-height: 1.5em;
margin-bottom: 1.5em;
}


#horizontal-nav{
	background: #ab9e71 ;
	color:#fff;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	float: none;
}


#content{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	float: none;
	text-align: justify;
}

h1, h2, h3, h4, h5, h6
{
  color:#ab9e71;
}

h1{
  font-variant : small-caps;
	font-weight:bold;
}

.title{
	font-style: italic;
}

div .bibl .author{
	text-shadow: 1px 1px 1px #888;
}

.bibl:before {
	content:"("	;
}

.bibl:after {
	content:")"	;
}


.wit_e1582{
	display: none;
}

.wit_e1582:before{
	content: attr(data-before)
}
.wit_e1582:after{
	content: attr(data-after)
}

.wit_e1588:before{
	content: attr(data-before)
}
.wit_e1588:after{
	content: attr(data-after)
}
.wit_e1598:before{
	content: attr(data-before)
}
.wit_e1598:after{
	content: attr(data-after)
}

.wit_e1588{
	display: none;
}
.wit_e1595{	
}

div.citation{
	background-color: inherit;
	font-style: italic;
	text-align: center;
}

span.citation{
	font-style: italic;	
}

.textTitle {
	font-weight: bold;
}
